In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

# 1.数据清理

In [2]:
data_path="../data/wlx/CFPA数据.csv"
data=pd.read_csv(data_path,index_col="index")
data.head()

,creditcode,clientcode,branchcode,branch,sex,age,education,marriage,job,industry,...,officer4,officer5,officer3,officer1_ratio,officer2_ratio,officer3_ratio,officer5_ratio,year_found,gdp2015,gdp_per_2015
index,,,,,,,,,,,,,,,,,,,,,
0,192860,GSLT-0357323,GSLT,临洮,男,31.0,初中,已婚,商业、服务业人员,O-居民服务和其他服务业,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31
1,190000,GSLT-0357091,GSLT,临洮,男,32.0,高中,已婚,商业、服务业人员,R-文化、体育和娱乐业,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31
2,239297,GSLT-0357730,GSLT,临洮,女,33.0,初中,已婚,商业、服务业人员,H-批发和零售业,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31
3,206282,GSLT-0357528,GSLT,临洮,女,35.0,初中,已婚,NaN,H-批发和零售业,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31
4,178142,GSLT-0357011,GSLT,临洮,男,27.0,大专及以上,离异,商业、服务业人员,H-批发和零售业,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31

In [3]:
data.count()

creditcode        26580
clientcode        26580
branchcode        26580
branch            26580
sex               26580
                  ...
officer3_ratio    26580
officer5_ratio    26580
year_found        26580
gdp2015           26580
gdp_per_2015      26580
Length: 110, dtype: int64

In [4]:
print(data.isnull().any().sum())
#查看缺失特征中缺失率大于50%的特征
have_null_fea_dict = (data.isnull().sum()/len(data)).to_dict()
fea_null_moreThanHalf = {}
for key,value in have_null_fea_dict.items():
    if value > 0.5:
        fea_null_moreThanHalf[key] = value

68

In [5]:
null_fea=list(fea_null_moreThanHalf.keys())
null_fea.remove('finresource4')
print(null_fea)

['feeling', 'position', 'historydebt', 'overdue', 'guarantee', 'change', 'stability', 'finresource41', 'amount4', 'amount41', 'time4', 'use4', 'date4', 'overdue4', 'reason7']

In [6]:
#一值处理
one_value_fea = [col for col in data.columns if data[col].nunique() <= 1]

In [7]:
print(one_value_fea)

['finresource4', 'detail7', 'type7']

In [8]:
data.drop(one_value_fea,axis=1,inplace=True)
data.drop(null_fea,axis=1,inplace=True)

In [9]:

numerical_fea = list(data.select_dtypes(exclude=['object']).columns)
category_fea = list(filter(lambda x: x not in numerical_fea,list(data.columns)))

In [10]:
len(category_fea)
print(category_fea)

['clientcode', 'branchcode', 'branch', 'sex', 'education', 'marriage', 'job', 'industry', 'incomesource', 'house', 'type', 'working', 'operate', 'opentime', 'businessscope', 'organization', 'changsuo', 'license', 'clientcode2', 'relation2', 'gt2', 'sex2', 'labor2', 'benxian2', 'education2', 'sex3', 'education3', 'marriage3', 'clientcode4', 'branchcode7', 'branch7', 'date7', 'use7', 'ahead7', 'overdue7', 'zhuxiao7']

In [11]:
len(numerical_fea)

56

In [12]:
data.shape

(26580, 92)

In [13]:
#类别特征处理
data1=pd.DataFrame(data)

In [14]:

data1['sex']= data1['sex'].map({'男':1,'女':0})
data1['sex2']= data1['sex2'].map({'男':1,'女':0})
data1['sex3']= data1['sex3'].map({'男':1,'女':0})
#education
data1['education']= data1['education'].map({'小学以下':0,'小学':6,'初中':9,'高中':12,'大专及以上':16})
data1['education2']= data1['education2'].map({'小学以下':0,'小学':6,'初中':9,'高中':12,'大专及以上':16})
data1['education3']= data1['education3'].map({'小学以下':0,'小学':6,'初中':9,'高中':12,'大专及以上':16})
#marriage
data1['marriage']= data1['marriage'].map({'未婚':0,'离异':0,'丧偶':0,'已婚':1,'再婚':1})
data1['marriage3']= data1['marriage3'].map({'未婚':0,'离异':0,'丧偶':0,'已婚':1,'再婚':1})
#job
data1['job']= data1['job'].map({'农、林、牧、渔、水利业生产人员':1,'专业技术人员':2,'办事人员和有关人员':3,'商业、服务业人员':4,
                                '国家机关、党群组织、企业、事业单位负责人':5,'生产、运输设备操作人员及有关人员':6,'不便分类的其他从业人员':7,
                               '未知':8})
#incomesource
data1['incomesource']= data1['incomesource'].map({'经营收入':1,'工资收入':2,'其他收入':3})
#house
data1['house']= data1['house'].map({'自有商品房':1,'自有农房':2,'亲属住房':3,'其他':0,'租住':4,'公有商品房':5})
#type
data1['type']= data1['type'].map({'农户':1,'非农户':0})
#working
data1['working']= data1['working'].map({'是':1,'否':0})
#operate
data1['operate']= data1['operate'].map({'是':1,'否':0})
data1['industry']=data1['industry'].map({'A-农、林、牧、渔业':1,'B-采掘业':2,'C-制造业':3,'D-电力、燃气及水的生产和供应业':4,
                                         'E-建筑业':5,'F-交通运输、仓储和邮政业':6,'G-信息传输、计算机服务和软件业':7,'H-批发和零售业':8,
                                         'I-住宿和餐饮业':9,'J-金融业':10,'K-房地产业':11,'L-租赁和商务服务业':12,'M-科学研究、技术服务业和地质勘察业':13,
                                         'N-水利、环境和公共设施管理业':14,'O-居民服务和其他服务业':15,'P-教育':16,'Q-卫生、社会保障和社会福利业':17,
                                         'R-文化、体育和娱乐业':18,'S-公共管理和社会组织':19,'T-国际组织':20,'Z-未知':0})
#organization
data1['organization']= data1['organization'].map({'个体':1,'合伙':2,'其他':0})
#organization
data1['changsuo']= data1['changsuo'].map({'自有':1,'租赁':2,'其他':0})
#license
data1['license']= data1['license'].map({'有':1,'无':0})
#与申请人关系
data1['relation2']= data1['relation2'].map({'配偶':1,'非直系亲属':2,'朋友':3,'子女':4,'母':5,'父':6,'其他':7})
#是否共同借款人
data1['gt2']= data1['gt2'].map({'是':1,'否':0})
#劳动人口
data1['labor2']= data1['labor2'].map({'是':1,'否':0})
#居住在本县
data1['benxian2']= data1['benxian2'].map({'是':1,'否':0})
#贷款用途
data1['use7']= data1['use7'].map({'其他行业':0,'批发和零售贸易':1,'养殖业':2,'种植业':3,'社会服务业':4,'交通运输业':5,'农房改建':6,
                                 '生产加工业':7})
#是否提前还款
data1['ahead7']= data1['ahead7'].map({'是':1,'否':0})
#是否逾期
data1['overdue7']= data1['overdue7'].map({'是':1,'否':0})
#是否注销过
data1['zhuxiao7']= data1['zhuxiao7'].map({'是':1,'否':0})
print("len:",len(data1['clientcode'].value_counts()))
print("len:",len(data1['clientcode2'].value_counts().index))

len: 19523
len: 19523

In [15]:
data1['loannumber'].value_counts().index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 16, 18, 19,
            20],
           dtype='int64')

In [16]:
numerical_fea1 = list(data1.select_dtypes(exclude=['object']).columns)
category_fea = list(filter(lambda x: x not in numerical_fea1,list (data1.columns)))

In [17]:
data1.head()

,creditcode,clientcode,branchcode,branch,sex,age,education,marriage,job,industry,...,officer4,officer5,officer3,officer1_ratio,officer2_ratio,officer3_ratio,officer5_ratio,year_found,gdp2015,gdp_per_2015
index,,,,,,,,,,,,,,,,,,,,,
0,192860,GSLT-0357323,GSLT,临洮,1,31.0,9.0,1.0,4.0,15.0,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31
1,190000,GSLT-0357091,GSLT,临洮,1,32.0,12.0,1.0,4.0,18.0,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31
2,239297,GSLT-0357730,GSLT,临洮,0,33.0,9.0,1.0,4.0,8.0,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31
3,206282,GSLT-0357528,GSLT,临洮,0,35.0,9.0,1.0,NaN,8.0,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31
4,178142,GSLT-0357011,GSLT,临洮,1,27.0,16.0,0.0,4.0,8.0,...,0,15,1,0.0,0.157895,0.052632,0.789474,3,589067,10710.31

In [18]:

drop_feats=["creditcode","clientcode","branch","opentime","clientcode2",
            "clientcode4","branchcode7","branch7","date7",'businessscope',
            'branch','overdue_group1', 'overdue_group2', 'cancel_group1',
            'cancel_group2', 'individual1', 'individual2', 'individual3',
            'overdue_group3', 'cancel_group3', 'individual4', 'amount_branch1',
            'amount_branch2', 'amount_branch3', 'year_individual', 'officer_ratio',
            'staff', 'officer_total', 'officer1', 'officer2', 'officer4',
            'officer5', 'officer3', 'officer1_ratio', 'officer2_ratio',
            'officer3_ratio', 'officer5_ratio', 'year_found', 'gdp2015',
            'gdp_per_2015',"employee","organization","changsuo"]

In [19]:
data1.drop(drop_feats,axis=1,inplace=True)

In [20]:
data1.head()

,branchcode,sex,age,education,marriage,job,industry,income,incomesource,house,...,marriage3,num3,amount42,loancode7,use7,amount7,ahead7,overdue7,zhuxiao7,guaran_amount
index,,,,,,,,,,,,,,,,,,,,,
0,GSLT,1,31.0,9.0,1.0,4.0,15.0,20385.0,1.0,4.0,...,1.0,1,0,1.0,4.0,40000.0,0.0,0.0,0.0,0.0
1,GSLT,1,32.0,12.0,1.0,4.0,18.0,10928.0,1.0,1.0,...,1.0,1,0,2.0,7.0,40000.0,0.0,0.0,0.0,0.0
2,GSLT,0,33.0,9.0,1.0,4.0,8.0,36525.0,1.0,2.0,...,1.0,1,5000,1.0,1.0,50000.0,0.0,0.0,0.0,0.0
3,GSLT,0,35.0,9.0,1.0,NaN,8.0,52860.0,1.0,3.0,...,1.0,1,100000,2.0,4.0,50000.0,0.0,0.0,0.0,0.0
4,GSLT,1,27.0,16.0,0.0,4.0,8.0,76571.0,1.0,1.0,...,1.0,1,0,2.0,1.0,50000.0,0.0,0.0,0.0,0.0

In [21]:
#填充缺失值，job ，industry incomesource 缺失值按照未知类别映射 其它数值型填充均值
data1['job'].fillna(8,inplace=True)
data1['industry'].fillna(0,inplace=True)
data1["incomesource"].fillna(3,inplace=True)
data1["house"].fillna(0,inplace=True)
data1["relation2"].fillna(7,inplace=True)
mean_values=data1.mean(numeric_only=True)
data1.fillna(mean_values, inplace=True)

In [22]:
data1.head()

,branchcode,sex,age,education,marriage,job,industry,income,incomesource,house,...,marriage3,num3,amount42,loancode7,use7,amount7,ahead7,overdue7,zhuxiao7,guaran_amount
index,,,,,,,,,,,,,,,,,,,,,
0,GSLT,1,31.0,9.0,1.0,4.0,15.0,20385.0,1.0,4.0,...,1.0,1,0,1.0,4.0,40000.0,0.0,0.0,0.0,0.0
1,GSLT,1,32.0,12.0,1.0,4.0,18.0,10928.0,1.0,1.0,...,1.0,1,0,2.0,7.0,40000.0,0.0,0.0,0.0,0.0
2,GSLT,0,33.0,9.0,1.0,4.0,8.0,36525.0,1.0,2.0,...,1.0,1,5000,1.0,1.0,50000.0,0.0,0.0,0.0,0.0
3,GSLT,0,35.0,9.0,1.0,8.0,8.0,52860.0,1.0,3.0,...,1.0,1,100000,2.0,4.0,50000.0,0.0,0.0,0.0,0.0
4,GSLT,1,27.0,16.0,0.0,4.0,8.0,76571.0,1.0,1.0,...,1.0,1,0,2.0,1.0,50000.0,0.0,0.0,0.0,0.0

In [23]:
data1.to_csv("../data/wlx/CVPA_preprocess.csv",index=False)

# 2.图数据生成

In [ ]:
#1.对data1进行均值归一化处理
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
#查看data1数值型特征
numerical_fea1 = list(data1.select_dtypes(exclude=['object']).columns)
data1[numerical_fea1] = scaler.fit_transform(data1[numerical_fea1])

In [ ]:
data1.head()